@font-face {
    font-family: 'Catamaran-Medium';
    src: local("../fonts/Catamaran-Medium"), url("../fonts/Catamaran-Medium.ttf") format("opentype"); }
@font-face {
    font-family: 'Catamaran-Light';
    src: local("../fonts/Catamaran-Light"), url("../fonts/Catamaran-Light.ttf") format("opentype"); }
@font-face {
    font-family: 'Catamaran-Regular';
    src: local("../fonts/Catamaran-Regular"), url("../fonts/Catamaran-Regular.ttf") format("opentype"); }
@font-face {
    font-family: 'Catamaran-Black';
    src: local("../fonts/Catamaran-Black"), url("../fonts/Catamaran-Black.ttf") format("opentype");
    font-weight: 400;
 }